name: Build & Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ec2-cicd-app:latest .

    - name: Push Image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/ec2-cicd-app:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/ec2-cicd-app:latest
          docker stop app || true
          docker rm app || true
          docker run -d -p 5000:5000 --name app ${{ secrets.DOCKER_USERNAME }}/ec2-cicd-app:latest
